#root > .card {
  max-width: 400px;
  margin: 10px auto;
}

.locationPhoto {
  width: 33%;
  height: 33%;
  justify-content: center;
}

button:disabled,
button:disabled:hover {
  background-color: lightgray;
}